@model IEnumerable<RecipesBook.Models.Entities.Category>
@{
    ViewData["Title"] = "Categories";
}
@Html.ActionLink("Search recipe", "SearchRecipe", new { controller = "Home" }, new { @class = "btn btn-primary" })
@using (Html.BeginForm("SearchCategory", "Home", FormMethod.Post, new { @class = "form-inline mt-3" }))
{
    <label for="search" class="mx-2">Enter name:</label>
    @Html.TextBox("search", null, new { @class = "form-control p-3" })

 
    <input type="submit" value="Search" class="btn btn-success" />
}
<h1>Categories</h1>
@if (Model.Count() == 0)
{
    <h5 class="text-warning">Nothing is found.</h5>
}
else
{

    <div class="row">
        @foreach (var item in Model)
        {
            <div id="recipe-@item.Id" class="card col-3 p-3">


                <img class="card-img-top" height="150" width="150">
                <div class="card-body">
                    <h5 class="card-title">@item.Name</h5>
                    <p class="card-text">@item.Description</p>
                    <a href="/recipes/@item.Id" class="btn btn-primary">View recipe</a>
                </div>
            </div>
        }
    </div>
    <nav class="nav-pagination">
        <ul class="pagination justify-content-center">
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
            </li>
            @for (int i = 0; i < Model.Count(); i++)
            {
                <li class="page-item"><a class="page-link" href="?page=@(i+1)">@(i+1)</a></li>
            }


            <li class="page-item">
                <a class="page-link" href="#">Next</a>
            </li>
        </ul>
    </nav>

}

