@model RecipesBook.Models.RecipeAddEditViewModel

@{
    ViewData["Title"] = "EditRecipe";
}

<form asp-action="EditRecipe" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input asp-for="Id" type="hidden" />
    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description" class="control-label"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="SelectedCategories"></label>

        @Html.ListBoxFor(model => model.SelectedCategories, new MultiSelectList(Model.AllCategories, "ID", "Name"), new { @class = "form-control" })
        <a target="_blank" asp-controller="Category" asp-action="CreateCategory" class="btn btn-primary">Create category</a>
        <span asp-validation-for="SelectedCategories" class="text-danger"></span>
    </div>
    <div class="form-row mb-4">
        <img id="ImageDisplay" class="img-fluid col-md-6" />
        @if (Model != null && Model.RealImage != null)
        {
            <input type="hidden" name="RealImage" id="RealImage" value="@Model.RealImage" />
        }
        <div class="form-group col-md-6">
            <label asp-for="MainImage">Select image</label>
            <input asp-for="MainImage" class="form-control" accept="image/*" />
            <span asp-validation-for="MainImage" class=" text-danger"></span>
        </div>
    </div>
    <div class="form-row">
        <label asp-for="Ingredients" class="control-label h4"></label>
        @Html.EditorFor(model => model.Ingredients, "_ingredientsGrid")
        <span asp-validation-for="Ingredients" class="text-danger"></span>
    </div>
    <div class="form-group mt-5">
        <label asp-for="Steps" class="control-label h4"></label>
        @Html.EditorFor(model => model.Steps, "_stepsGrid")
        <span asp-validation-for="Steps" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>
@section Scripts{
    <script>
        $(document).ready(function () {
            $("#SelectedCategories").select2({
                placeholder: {
                    id: '', // the value of the option
                    text: 'None Selected'
                }, multiple: true
            });

            $(document).on("change", "#MainImage", function () {
                readURL(this,"ImageDisplay");

            })
            @{
                bool IsMainImageSelected=Model != null && Model.RealImage != null;

                string base64 = "";
                if (IsMainImageSelected)
                {
                    base64 = Model.RealImage;
                }
             }
            let setSelected = @IsMainImageSelected.ToString().ToLower();
            if (setSelected) {

                $("#MainImage").removeAttr("required");

                $('#ImageDisplay').attr('src', "data:image/png;base64,@Html.Raw(base64)");
            }
        });
    </script>
}

